# Part A

### Data dictionary :
* __RestGenInfo.csv__ contains :
    * placeID - Uniqued Id of restaurants
    * latitude - Location detail 
    * longitude - Location detail
    * name - Name of the restaurant
    * state - Name of the state 
    * alcohol - Constraints on having alcoholic beverages
    * smoking_area - Information for smokers
    * price - Pricing type of restaurant
    * franchise - Does the restaurant have frachise
    * area - open or close type of restaurant

* __Cuisine.csv__ contains :
    * placeID - Uniqued Id of restaurants
    * Rcuisine - Different styles of food

    
* __PaymentMode.csv__ contains :
    * placeID - Uniqued Id of restaurants
    * Rpayment - Different modes of payment

    
* __parking.csv__ contains :
     * placeID - Uniqued Id of restaurants
     * parking_lot - Different types of parking available

### Submit the executable code snippet for the below queries

1) Set Python Spark Environment(1M)

In [1]:
## Set Python - Spark environment.
import os
import sys
os.environ["SPARK_HOME"] = "/usr/hdp/current/spark2-client"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.4-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

2) Create Spark context and session by setting master to local(1M)

In [2]:
## Create  SparkSession
from pyspark.sql import SparkSession
from pyspark import SparkConf
spark = SparkSession.builder\
        .appName("SparkDataFrames_and_SQL_on_Sales_Dataset")\
        .master('local[*]')\
        .enableHiveSupport()\
        .config('spark.sql.warehouse.dir','hdfs://bigdata:8020/user/2019B42/spark-warehouse')\
        .getOrCreate()

In [3]:
## import the libraries
from pyspark.sql.types import *
from pyspark.sql.functions import *

3) Read all four following csv files in spark environment : (1M)
* RestGenInfo.csv (read ? as nullValue)
* Cuisine.csv
* PaymentMode.csv
* parking.csv

In [7]:
## Read data and create a dataframe
RestGen = spark.read.csv(header=True,nullValue="?",inferSchema=True,
                         ignoreLeadingWhiteSpace=True,ignoreTrailingWhiteSpace=True,                                                  
                         path="file:///home/2019B42/PartA/RestGenInfo.csv")

In [8]:
## Read data and create a dataframe
Cuisine = spark.read.csv(header=True,inferSchema=True,
                         ignoreLeadingWhiteSpace=True,ignoreTrailingWhiteSpace=True,                                                  
                         path="file:///home/2019B42/PartA/Cuisine.csv")

In [9]:
## Read data and create a dataframe
Payment = spark.read.csv(header=True,inferSchema=True,
                         ignoreLeadingWhiteSpace=True,ignoreTrailingWhiteSpace=True,                                                  
                         path="file:///home/2019B42/PartA/PaymentMode.csv")

In [10]:
## Read data and create a dataframe
Parking = spark.read.csv(header=True,inferSchema=True,
                         ignoreLeadingWhiteSpace=True,ignoreTrailingWhiteSpace=True,                                                  
                         path="file:///home/2019B42/PartA/parking.csv")

4) print schema for all four dataframes (1M)

In [11]:
RestGen.printSchema()

root
 |-- placeID: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- state: string (nullable = true)
 |-- alcohol: string (nullable = true)
 |-- smoking_area: string (nullable = true)
 |-- price: string (nullable = true)
 |-- franchise: string (nullable = true)
 |-- area: string (nullable = true)

In [12]:
Cuisine.printSchema()

root
 |-- placeID: integer (nullable = true)
 |-- Rcuisine: string (nullable = true)

In [13]:
Payment.printSchema()

root
 |-- placeID: integer (nullable = true)
 |-- Rpayment: string (nullable = true)

In [14]:
Parking.printSchema()

root
 |-- placeID: integer (nullable = true)
 |-- parking_lot: string (nullable = true)

5) Get summary statistics of all numerical columns from all four tables (1M)

In [62]:
RestGen.describe().show()

+-------+------------------+-----------------+------------------+--------------------+----------+---------+------------+------+---------+------+
|summary|           placeID|         latitude|         longitude|                name|     state|  alcohol|smoking_area| price|franchise|  area|
+-------+------------------+-----------------+------------------+--------------------+----------+---------+------------+------+---------+------+
|  count|               130|              130|               130|                 130|       112|      130|         130|   130|      130|   130|
|   mean|134012.78461538462|21.85886321461537|-100.3429330284615|                null|      null|     null|        null|  null|     null|  null|
| stddev|1140.6445817067201|  1.4968295813784|0.8605846022732131|                null|      null|     null|        null|  null|     null|  null|
|    min|            132560|        18.859803|         -101.0286|Abondance Restaur...|   Morelos| Full_Bar|        none|  high|        f|closed|
|    max|            135109|       23.7602683|       -99.1265059|                vips|Tamaulipas|Wine-Beer|     section|medium|        t|  open|
+-------+------------------+-----------------+------------------+--------------------+----------+---------+------------+------+---------+------+

In [18]:
Cuisine.describe().show()

+-------+------------------+----------+
|summary|           placeID|  Rcuisine|
+-------+------------------+----------+
|  count|               916|       916|
|   mean|132897.17467248908|      null|
| stddev| 923.6017108449753|      null|
|    min|            132001|    Afghan|
|    max|            135110|Vietnamese|
+-------+------------------+----------+

In [19]:
Payment.describe().show()

+-------+------------------+-----------------+
|summary|           placeID|         Rpayment|
+-------+------------------+-----------------+
|  count|              1315|             1315|
|   mean|133220.09353612168|             null|
| stddev| 1059.006504887159|             null|
|    min|            132002| American_Express|
|    max|            135110|gift_certificates|
+-------+------------------+-----------------+

In [20]:
Parking.describe().show()

+-------+------------------+-----------+
|summary|           placeID|parking_lot|
+-------+------------------+-----------+
|  count|               702|        702|
|   mean|133180.94586894586|       null|
| stddev| 942.0442381154141|       null|
|    min|            132012|        fee|
|    max|            135111|        yes|
+-------+------------------+-----------+

6) Print number of rows and columns in each table along with description using print function (2M)

In [21]:
print("No. of Columns of RestGen = {}".format(len(RestGen.columns)))
print('No. of Rows of RestGen = {}'.format(RestGen.count()))

No. of Columns of RestGen = 10
No. of Rows of RestGen = 130

In [22]:
print("No. of Columns of Cuisine = {}".format(len(Cuisine.columns)))
print('No. of Rows of Cuisine = {}'.format(Cuisine.count()))

No. of Columns of Cuisine = 2
No. of Rows of Cuisine = 916

In [23]:
print("No. of Columns of Payment = {}".format(len(Payment.columns)))
print('No. of Rows of Payment = {}'.format(Payment.count()))

No. of Columns of Payment = 2
No. of Rows of Payment = 1315

In [25]:
print("No. of Columns of Parking = {}".format(len(Parking.columns)))
print('No. of Rows of Parking = {}'.format(Parking.count()))

No. of Columns of Parking = 2
No. of Rows of Parking = 702

7) Check for null values in all the four tables (2M)

In [26]:
##RestGen
RestGen.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in RestGen.columns]).show(truncate=False)

+-------+--------+---------+----+-----+-------+------------+-----+---------+----+
|placeID|latitude|longitude|name|state|alcohol|smoking_area|price|franchise|area|
+-------+--------+---------+----+-----+-------+------------+-----+---------+----+
|0      |0       |0        |0   |18   |0      |0           |0    |0        |0   |
+-------+--------+---------+----+-----+-------+------------+-----+---------+----+

In [27]:
##Cuisine
Cuisine.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in Cuisine.columns]).show(truncate=False)

+-------+--------+
|placeID|Rcuisine|
+-------+--------+
|0      |0       |
+-------+--------+

In [28]:
##Payment
Payment.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in Payment.columns]).show(truncate=False)

+-------+--------+
|placeID|Rpayment|
+-------+--------+
|0      |0       |
+-------+--------+

In [29]:
##Parking
Parking.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in Parking.columns]).show(truncate=False)

+-------+-----------+
|placeID|parking_lot|
+-------+-----------+
|0      |0          |
+-------+-----------+

7) Drop the observations which contains Null Values in all four tables(if any) (1M)

In [32]:
## Cuisine, Parking and Payment does not have any Null values
RestGenFinal = RestGen.dropna()

In [33]:
## verify if the Null values are removed
RestGenFinal.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in RestGenFinal.columns]).show(truncate=False)

+-------+--------+---------+----+-----+-------+------------+-----+---------+----+
|placeID|latitude|longitude|name|state|alcohol|smoking_area|price|franchise|area|
+-------+--------+---------+----+-----+-------+------------+-----+---------+----+
|0      |0       |0        |0   |0    |0      |0           |0    |0        |0   |
+-------+--------+---------+----+-----+-------+------------+-----+---------+----+

8) create tempView for all four tables (2M)

In [51]:
## Create view/table for RestGen
RestGenFinal.createOrReplaceTempView("RestGenTable")

In [39]:
## Create view/table for Cuisine
Cuisine.createOrReplaceTempView("CuisineTable")

In [40]:
## Create view/table for Payment
Payment.createOrReplaceTempView("PaymentTable")

In [41]:
## Create view/table for Parking
Parking.createOrReplaceTempView("ParkingTable")

In [34]:
spark.sql("""use paramita""")

DataFrame[]

In [64]:
spark.sql("""show tables""").show()

+--------+------------+-----------+
|database|   tableName|isTemporary|
+--------+------------+-----------+
|paramita|          t3|      false|
|        |cuisinetable|       true|
|        |parkingtable|       true|
|        |paymenttable|       true|
|        |restgentable|       true|
+--------+------------+-----------+

### Submit the executable SparkSQL code snippet for the below queries

9) print count of distinct restaurants in each state with count column renamed to "numberOfHotels" (3M)

In [65]:
spark.sql("SELECT state, count(name) AS numberOfHotels FROM RestGenTable GROUP BY state").show()

+----------+--------------+
|     state|numberOfHotels|
+----------+--------------+
|   Morelos|            20|
|       SLP|            76|
|Tamaulipas|            16|
+----------+--------------+

10) Print the different categories in smoking_area column from restoGenTable (2M)

In [54]:
spark.sql("SELECT DISTINCT(smoking_area) FROM RestGenTable").show()

+-------------+
| smoking_area|
+-------------+
|         none|
|    permitted|
|      section|
|not permitted|
|  only at bar|
+-------------+

11) Print the distinct restaurant names which has valet parking (5M)

In [56]:
spark.sql("""SELECT DISTINCT(RestGenTable.name) FROM RestGenTable INNER JOIN ParkingTable
  ON RestGenTable.placeID = ParkingTable.placeID WHERE ParkingTable.parking_lot = 'valet parking' """).show()

+--------------------+
|                name|
+--------------------+
|La Posada del Virrey|
+--------------------+

12) Print the distinct count of restaurants(as numberOfHotels) for each payment modes and area and order based on numberOfHotels in descending order. (8M)

In [58]:
spark.sql("""SELECT PaymentTable.Rpayment, RestGenTable.area, COUNT(RestGenTable.name) AS numberOfHotels FROM RestGenTable INNER JOIN PaymentTable
  ON RestGenTable.placeID = PaymentTable.placeID GROUP BY PaymentTable.Rpayment,RestGenTable.area ORDER BY numberOfHotels
  DESC """).show()

+-------------------+------+--------------+
|           Rpayment|  area|numberOfHotels|
+-------------------+------+--------------+
|               cash|closed|            92|
|               VISA|closed|            44|
|MasterCard-Eurocard|closed|            40|
|   American_Express|closed|            24|
|               cash|  open|            11|
|   bank_debit_cards|closed|            11|
|               VISA|  open|             3|
|MasterCard-Eurocard|  open|             2|
|   bank_debit_cards|  open|             1|
|   American_Express|  open|             1|
|      Carte_Blanche|closed|             1|
+-------------------+------+--------------+

13) Print the restaurant names and their corresponding restaurant cuisine styles, price, location details(latitude, longitude) and smoking_area informations only for those which are located in Morelos state and have closed roofing, also order based on price (10M)

In [59]:
spark.sql("""SELECT RestGenTable.name, CuisineTable.Rcuisine, RestGenTable.price,
   RestGenTable.latitude, RestGenTable.longitude, RestGenTable.smoking_area
   FROM RestGenTable INNER JOIN CuisineTable
  ON RestGenTable.placeID = CuisineTable.placeID WHERE RestGenTable.state = 'Morelos' 
  AND RestGenTable.area = 'closed' ORDER BY RestGenTable.price """).show()

+--------------------+---------------+------+----------+-----------+-------------+
|                name|       Rcuisine| price|  latitude|  longitude| smoking_area|
+--------------------+---------------+------+----------+-----------+-------------+
|Restaurant and Ba...|Bar_Pub_Brewery|  high| 18.948657| -99.235361|      section|
|Restaurant and Ba...|            Bar|  high| 18.948657| -99.235361|      section|
|Restaurant Las Ma...|  International|  high| 18.928798| -99.239513|         none|
|Restaurant Bar Co...|            Bar|   low| 18.875011| -99.159422|         none|
|   Cafeteria cenidet|      Cafeteria|   low|18.8760113|-99.2198896|not permitted|
|    McDonalds Centro|       American|   low|18.9222904| -99.234332|not permitted|
|              Subway|      Fast_Food|   low| 18.933537| -99.222497|not permitted|
|     Kiku Cuernavaca|       Japanese|medium| 18.915421| -99.184871|         none|
|  Mariscos Tia Licha|         Family|medium|18.9257734|-99.2326355|not permitted|
|              Mikasa|       Japanese|medium|18.9101777|-99.2315438|         none|
+--------------------+---------------+------+----------+-----------+-------------+